<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<p class="text-center text-black font-mono text-lg font-bold mt-6">Image Creation using OpenAI</p>


<div class="stretch mx-2 flex flex-row gap-3 pt-2 last:mb-2 md:last:mb-6 lg:mx-auto lg:max-w-3xl lg:pt-6">
  <div class="relative flex h-full flex-1 md:flex-col">
    <div
      class="flex flex-col w-full py-2 flex-grow md:py-3 md:pl-4 relative border border-black/10 bg-white dark:border-gray-900/50 dark:text-white dark:bg-gray-700 rounded-md shadow-[0_0_10px_rgba(0,0,0,0.10)] dark:shadow-[0_0_15px_rgba(0,0,0,0.10)]">
      <textarea (keyup.enter)="callOpenAI()" [formControl]="editableFiled" tabindex="0"
        style="max-height: 200px; height: 24px; overflow-y: hidden;" rows="1"
        class="m-0 w-full resize-none border-0 bg-transparent p-0 pl-2 pr-7 focus:ring-0 focus-visible:ring-0 dark:bg-transparent md:pl-0"></textarea>
      <button (click)="callOpenAI()"
        class="absolute p-1 rounded-md text-gray-500 bottom-1.5 right-1 md:bottom-2.5 md:right-2 hover:bg-gray-100 dark:hover:text-gray-400 dark:hover:bg-gray-900 disabled:hover:bg-transparent dark:disabled:hover:bg-transparent"><svg
          stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
          stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg></button>
    </div>
  </div>
</div>

<p>&nbsp;</p>

<p *ngIf="contentData?.length" class="text-center text-black font-mono text-lg font-bold mt-6">Result</p>

<div class="flex flex-wrap">
  <img class="w-1/2" *ngFor="let img of contentData" [src]="img?.url">
</div>